<ion-header>
  <ion-toolbar>
    <ion-title>Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of cart">
      {{ item.name }} - ${{ item.price.toFixed(2) }} x {{ item.quantity || 0 }} = ${{ (item.price * (item.quantity || 0)).toFixed(2) }}
      <ion-button slot="end" (click)="removeFromCart(item.id)">Remove</ion-button>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-label>Total: ${{ cartTotal.toFixed(2) }}</ion-label>
  </ion-item>
  <ion-button expand="block" (click)="handleOrder()" [disabled]="cart.length === 0">Proceed to Order</ion-button>
</ion-content>
